#button {
    width: 400px;
    height: 100px;
    background-color: rgb(210, 210, 231);
    border-radius: 25px;
    position: relative;
    transition: 1s;

    & .night {
        background-color: rgb(0, 0, 0);
    }
}

#sun {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50%;
    // animation: sun 1s ease 0s infinite alternate none;
    position: absolute;
    left:0px;
    transition: 1s;
}

.night #sun {
    background-color: rgb(146, 146, 146);
    left: 300px;
}


